# Kaggle API
KAGGLE_API_TOKEN=your_kaggle_api_token_here

# GCP
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCP_ZONE=us-central1-a
GCP_SA_KEY_PATH=./secrets/gcp-sa-key.json

# GCS Data Lake
GCS_BUCKET_NAME=your-project-data-lake

# BigQuery
BQ_DATASET=cart_abandonment

# Environment: dev | staging | prod
ENVIRONMENT=dev

# Spark (local dev settings)
SPARK_MASTER=local[*]
SPARK_DRIVER_MEMORY=4g

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=False
